@{ 
    var controllerName = ViewContext.RouteData.Values["controller"] == null ? "" : ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if (ViewBag.BaseAction != null)
    { controllerName = ViewBag.BaseAction; }

}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 流量</title>
    @Styles.Render("~/Content/css")

    <script src="~/Content/js/jquery-1.10.2.min.js"></script>
   
</head>
<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="/" class="tpl-logo">
                <img src="~/Content/img/logo.png" alt="">
            </a>
        </div>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
                  <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                  
                    <ul class="am-dropdown-content tpl-dropdown-content">
                   
                        <li>
                            <a href="#" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                                    <img src="~/Content/img/user02.png" alt="">
                                </span>
                                <span class="tpl-dropdown-content-subject">
                                    <span class="tpl-dropdown-content-from"> @(Session["trafficUserName"]) </span>
                                   
                                </span>
                               
                            </a>
                            
                        </li>

                    </ul>
                </li>
              
                <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                    <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                        <span class="tpl-header-list-user-nick">@(Session["trafficUserName"])</span><span class="tpl-header-list-user-ico"> <img src="~/Content/img/user01.png"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                        <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                        <li><a href="/login/logout"><span class="am-icon-power-off"></span> 退出</a></li>
                    </ul>
                </li>
                <li><a href="###" class="tpl-header-list-link">
                    <span class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
            </ul>
        </div>
    </header>

    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                刷流量
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                    <li class="tpl-left-nav-item">
                        <a href="/home" class="nav-link @(controllerName == "home"?"active":"") ">
                            <i class="am-icon-tasks"></i>
                            <span>阅读量</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="/Recharge/index" class="nav-link @(controllerName == "recharge"?"active":"")">
                            <i class="am-icon-suitcase"></i>
                            <span>我的充值记录</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="/consumption/index" class="nav-link @(controllerName == "consumption"?"active":"")">
                            <i class="am-icon-bars"></i>
                            <span>我的消费记录</span>
                        </a>
                    </li>

                    <li class="tpl-left-nav-item">
                        <a href="/home/pay" class="nav-link ">
                            <i class="am-icon-money"></i>
                            <span>我要充值</span>
                        </a>
                    </li>


                    <li class="tpl-left-nav-item">
                        <a href="/home/updatepwd" class="nav-link ">
                            <i class="am-icon-pencil"></i>
                            <span>修改密码</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        @RenderBody()

    </div>

    <script src="~/Content/js/amazeui.min.js"></script>
    <script src="~/Content/js/echarts.min.js"></script>
    <script src="~/Content/js/iscroll.js"></script>
    <script src="~/Content/js/app.js"></script>
    <script src="~/Content/Scripts/amazeui.dialog.min.js"></script>
        @Scripts.Render("~/bundles/scripts")
       
</body>
</html>
